
@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped table-bordered text-center">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Brand</th>
        </tr>
    </thead>
    <tbody id="TableBody">

    </tbody>
</table>
<script src="~/js/Product.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $( document ).ready(function() {
    LoadProductByApi()
});
</script>

